---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>400004 - Page Not Found efsfesf</h1>
    <p>Désolé, laea page que vous recherchez n'existe pas.</p>
    <a href="/">Retour à l'accueil</a>
</Layout>